<div class="service">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Продолжительность</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.name }}</td>
                <td>{{ service.duration }} минут</td>
                <td>{{ service.cost }} рублей</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<style>
    .table {
        width: 100%;
        margin-bottom: 20px;
        border: 15px solid #F2F8F8;
        border-top: 5px solid #F2F8F8;
        border-collapse: collapse;
    }

    .table th {
        font-weight: bold;
        padding: 5px;
        background: #F2F8F8;
        border: none;
        border-bottom: 5px solid #F2F8F8;
    }

    .table td {
        padding: 5px;
        border: none;
        border-bottom: 5px solid #F2F8F8;
        text-align: center;
    }
</style>