{% extends 'base.html.twig' %}

{% block title %}Настройки{% endblock %}

{% block body %}
    <form method="post" accept-charset="UTF-8">
        {#        {% if error %} #}
        {#            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div> #}
        {#        {% endif %} #}
        <div class="">
            Ваша ссылка для записи:
            <p id="appointment-link">
                <a class="fw-light text-decoration-none">
                    {{ settingsData.appointmentLink }}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
                    </svg>
                </a>
            </p>
        </div>
        <div class="services services-wrapper">
            <h2>Услуги</h2>
            <div class="new-service">
                <h3>Создать новую услугу</h3>
                <div class="service-field">
                    <div class="service-field--label">
                        <label for="service_name">Название</label>
                    </div>
                    <input name="name" type="text" placeholder="Портретная съёмка" id="service_name">
                </div>
                <div class="service-field">
                    <div class="service-field--label">
                        <label for="service_duration">Длительность</label>
                    </div>
                    <input name="duration" type="text" placeholder="(в минутах)"
                           id="service_duration">
                </div>
                <div class="service-field">
                    <div class="service-field--label">
                        <label for="service_cost">Стоимость</label>
                    </div>
                    <input name="cost" type="text" placeholder="(в рублях)"
                           id="service_cost">
                </div>
            </div>
            <button class="button-submit-service" type="submit">
                Добавить
            </button>
        </div>
    </form>
    {% include 'settings/service.html.twig' with {'services': settingsData.services} %}
    <div class="toast-container position-fixed top-0 end-0 p-3">
        <div id="live-toast" class="toast" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">

            </div>
        </div>
    </div>
    <script>
        const copyBlock = document.getElementById('appointment-link')
        copyBlock.addEventListener('click', () => {
            navigator.clipboard.writeText('{{ settingsData.appointmentLink }}').then(() => {
                showToast('Ссылка скопирована!')
            })
        })

        function showToast(message) {
            const toastBody = document.querySelector('.toast-body')
            console.log(toastBody)
            toastBody.innerHTML = message

            const liveToast = document.getElementById('live-toast')
            liveToast.style.display = 'block'

            setTimeout(function() {
                liveToast.style.display = 'none'
            }, 2500);
        }
    </script>
{% endblock %}
{% block stylesheets %}
    <style>
        .service-field--label {
            display: inline-block;
            min-width: 10%;
        }

        .button-submit-service {
            background-color: #555555;
            color: white;
        }
    </style>
{% endblock %}
