{% extends 'base.html.twig' %}

{% block title %}Hello! Let's appointment!{% endblock %}

{% block body %}
    <style>
    </style>

    <div class="content">
        Вы успешно записались на услугу!
    </div>
{% endblock %}
{% block stylesheets %}
    <style>
        .content {
            margin-top: 1%;
        }
    </style>
{% endblock %}
