<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <style>
        header {
            background-color: #333;
            color: white;
            padding: 10px;
            text-align: center;
        }
        .header-buttons {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
        }
        .header-buttons a {
            color: white;
            margin-left: 10px;
            text-decoration: none;
        }
    </style>
</head>
<body>
<header>
    {% if app.user %}
        <div class="mb-3">
            Вы вошли под пользователем {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Выйти</a>
        </div>
    {% endif %}
    <div class="header-buttons">
        <a href="{{ path('home') }}">Мои записи</a>
        <a href="{{ path('settings') }}">Настройки</a>
    </div>
</header>
